.cardStyle {
    width: 330px;
    padding: 24px 24px 24px 24px;
    margin: auto;
    text-align: left;
    margin-top: 32px;
}
.cardTitle{
    font-size: 14px;
    font-weight: 600;
}
.formControl{
    width: 100%;
}

.dispNone{
    display: none;
}

.dispBlock{
    display: block;
}

.red{
    color: red;
}
